* {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    text-decoration: none;
    border: none;
    text-align: justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    body {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    margin: 3%;
    }
    nav {
    display: flex;
    flex-direction: column;
    }
    h2 {
    color: orangered;
    margin: 1%;
    }
    .topico {
    display: flex;
    width: auto;
    margin: 1%;
    padding: 3%;
    color: rgb(222, 222, 222);
    font-size: 105%;
    border-radius: 10px;
    }
    .primeiro {
    margin-top: 10px;
    }
    .topico:hover {
    background-color: rgb(32, 32, 32);
    }
    